{{ template "base" . }}

{{ define "title" }}{{ T "List" }}{{ end }}

{{ define "content" }}

    {{ block "heading" . }}
        {{ $page := (.Get "page_object") }}
        <div class="view-header">
            {{ if (or (has_perm .Request "pages:add") (has_perm .Request "pages:edit")) }}
                <div class="buttons">
                    {{ if (has_perm .Request "pages:add") }}
                        <a href="{{ url "admin:pages:type" $page.ID }}" class="button primary">{{ T "Add Child Page" }}</a>
                    {{ end }}
                    {{ if (has_perm .Request "pages:edit") }}
                        <a href="{{ url "admin:pages:edit" $page.ID }}" class="button primary">{{ T "Edit Page" }}</a>
                    {{ end }}
                </div>
            {{ end }}
            <div class="title-text">
                <h1>{{ .Get "model_name" }} &quot;{{ $page.Title }}&quot;</h1>
            </div>
        </div>
    {{ end }}

    <div class="pages-list list-wrapper">
        {{ $list := (.Get "view_list") }}
        {{ safe $list.Render }}
    </div>
{{ end }}