{{ template "base" . }}

{{ define "title" }}{{ T "List" }}{{ end }}


{{ define "navigation" }}
    <div class="breadcrumbs">
        {{ $parent := (.Get "parent_object") }}
        {{ $page := (.Get "page_object") }}

        {{ if (gt $page.Depth 1) }}
            <span class="breadcrumb">...</span>
        {{ else }}
            <a class="breadcrumb" href="{{ url "admin:home" }}">{{ T "Dashboard" }}</a>
        {{ end }}

        {{ if $parent }}
            <a class="breadcrumb" href="{{ url "admin:pages:list" $parent.ID }}">
                {{ $parent.Title }}
            </a>
        {{ end }}

        <span class="breadcrumb">{{ $page.Title }}</span>
    </div>
{{ end }}

{{ define "content" }}
    {{ block "heading" . }}
        <div class="list-view-header">
            <div class="buttons">
                <a href="{{ url "admin:pages:add" (.Get "page_object").ID }}" class="button primary">{{ T "Add Child Page" }}</a>
                <a href="{{ url "admin:pages:edit" (.Get "page_object").ID }}" class="button primary">{{ T "Edit Page" }}</a>
            </div>
            <div class="title-text">
                <h1>{{ (.Get "model").Label }} {{ T "List" }}</h1>
            </div>
        </div>
    {{ end }}

    {{ $list := (.Get "view_list") }}
    {{ safe $list.Render }}
{{ end }}