{{ define "filter_panel" }}
    {{ if .Data.filter_form }}
        <form method="get" action="{{ printf "%s?page=%d" .Request.URL.Path (.Data.view_paginator_object).PageNum }}" class="form filter-form">
            {{ $errorList := .Data.filter_form.ErrorList }}
            {{ if (gt (len $errorList) 0) }}
                <ul class="error-list">
                    {{ range $Error := $errorList }}
                        <li class="error"><p>{{ $Error }}</p></li>
                    {{ end }}
                </ul>
            {{ end }}
            {{ range $Field := .Data.filter_form.Fields }}        
                {{ include . "admin/shared/forms/form_panel.tmpl" }}
            {{ end }}
            <input class="button secondary hollow sm" type="submit" value="{{ T "Submit" }}">
        </form>
    {{ end }}
{{ end }}
