{{ template "base" . }}

{{ define "title" }}{{ T "Add %s" (.Get "model").Label }}{{ end }}

{{ define "extra_css" }}
    {{ $Media := (.Get "form").Media }}
    {{ range $css := $Media.CSS }}
        {{ $css }}
    {{ end }}
{{ end }}

{{ define "content" }}

    <h1>{{ T "Add %s" (.Get "model").Label }}</h1>
    <form method="post" class="admin-form" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
        
        {{ $Form := (.Get "form") }}
        {{ include $Form.ErrorList "admin/shared/forms/error_list.tmpl" }}
        {{ include $Form "admin/shared/forms/form.tmpl" }}
        <div class="form-buttons">
            <input class="button secondary" type="submit" value="Submit">
            {{ $BackURL := (.Get "BackURL") }}
            {{ if $BackURL }}
                <a class="button warning hollow" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button warning hollow" href="{{ url "admin:apps:model" (.Get "app").Name (.Get "model").GetName }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}

{{ define "extra_js" }}
    {{ $Media := (.Get "form").Media }}
    {{ range $js := $Media.JS }}
        {{ $js }}
    {{ end }}
{{ end }}