{{ template "base" . }}

{{ define "title" }}{{ T "Edit %s" (.Get "model").Label }}{{ end }}

{{ define "extra_css" }}
    {{ $Media := (.Get "form").Media }}
    {{ range $css := $Media.CSS }}
        {{ $css }}
    {{ end }}
{{ end }}

{{ define "content" }}
    {{ $model := (.Get "model") }}
    <h1>{{ T "Edit %s" $model.Label }}</h1>
    <form method="post" class="admin-form" enctype="multipart/form-data">
        {{ csrf_field }}

        {{ $Form := (.Get "form") }}
        {{ include $Form.ErrorList "admin/shared/forms/error_list.tmpl" }}
        {{ include $Form.UnpackErrors "admin/shared/forms/error_unpack.tmpl" }}
        {{ include $Form "admin/shared/forms/form.tmpl" }}

        <div class="form-buttons">
            <input class="button secondary" type="submit" value="{{ T "Submit" }}">
            {{ if (and (not $model.DisallowDelete) (has_object_perm  $model.NewInstance "admin:delete")) }}
                <a class="button secondary" href="{{ url "admin:apps:model:delete" (.Get "app").Name $model.GetName (.Get "primaryField").GetValue }}">{{ T "Delete" }}</a>
            {{ end }}

            {{ $BackURL := (.Get "BackURL") }}
            {{ if $BackURL }}
                <a class="button warning hollow" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button warning hollow" href="{{ url "admin:apps:model" (.Get "app").Name $model.GetName }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}

{{ define "extra_js" }}
    {{ $Media := (.Get "form").Media }}
    {{ range $js := $Media.JS }}
        {{ $js }}
    {{ end }}
{{ end }}