{{ template "base" . }}

{{ define "title" }}{{ T "List %s" (.Get "model").PluralLabel }}{{ end }}

{{ define "content" }}
    {{ block "heading" . }}
        {{ $app := (.Get "app") }}
        {{ $model := (.Get "model") }}
        <div class="view-header">
            {{ if (and (not $model.DisallowCreate) (has_object_perm .Request $model.NewInstance "admin:add")) }}
                <div class="buttons">
                    <a href="{{ url "admin:apps:model:add" $app.Name $model.GetName }}" class="button primary">{{ T "Add" }}</a>
                </div>
            {{ end }}
            <div class="title-text">
                <h1>{{ $model.Label }} {{ T "List" }}</h1>
            </div>
        </div>
    {{ end }}
    <div class="list-wrapper">
        {{ $list := (.Get "view_list") }}
        {{ safe $list.Render }}
    </div>
{{ end }}