{{ template "base" . }}

{{ define "title" }}{{ T "List %s" (.Get "model").PluralLabel }}{{ end }}

{{ if .Data.filter_form }}
    {{ define "extra_css" }}
        {{ $Media := .Data.filter_form.Media }}
        {{ range $css := $Media.CSS }}
            {{ $css }}
        {{ end }}
    {{ end }}

    {{ define "extra_js" }}
        {{ $Media := .Data.filter_form.Media }}
        {{ range $js := $Media.JS }}
            {{ $js }}
        {{ end }}
    {{ end }}
{{ end }}

{{ define "content" }}
    <div class="list-root">

        <div class="list-wrapper">
            {{ $list := (.Get "view_list") }}
            {{ safe $list.Render }}

            <div class="list-paginator">
                {{ (.Data.view_paginator_object).HTML "page" 5 .Request.URL.Query }}
            </div>
        </div>

        {{ if .Data.filter_form }}
            <form method="get" action="{{ printf "%s?page=%d" .Request.URL.Path (.Data.view_paginator_object).PageNum }}" class="form list-filters">
                {{ $errorList := .Data.filter_form.ErrorList }}
                {{ if (gt (len $errorList) 0) }}
                    <ul class="error-list">
                        {{ range $Error := $errorList }}
                            <li class="error"><p>{{ $Error }}</p></li>
                        {{ end }}
                    </ul>
                {{ end }}
                {{ range $Field := .Data.filter_form.Fields }}        
                    <div class="panel">
                        <div class="form-field">
                            {{ $Field.Label }}
                            {{ if (gt (len $Field.Errors) 0) }}
                                <ul class="error-list">
                                    {{ range $Error := $Field.Errors }}
                                        <li class="error"><p>{{ $Field.FormField.Label }}: {{ $Error }}</p></li>
                                    {{ end }}
                                </ul>
                            {{ end }}
                            {{ if (ne $Field.HelpText "") }}
                                <p class="help-text">{{ $Field.HelpText }}</p>
                            {{ end }}
                            {{ $Field.Field }}
                        </div>
                    </div>
                {{ end }}
                <input class="button secondary hollow sm" type="submit" value="{{ T "Submit" }}">
            </form>
        {{ end }}
    </div>

{{ end }}