{{ define "errors" }}
    {{ $Field := . }}
    {{ if (gt (len $Field.Errors) 0) }}
        <ul class="error-list">
            {{ range $Error := $Field.Errors }}
                <li class="error"><p>{{ $Field.Label }}: {{ $Error }}</p></li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}