{{ define "form" }}
    {{ range $Field := (.Get "form").Fields }}

        <div class="form-field-wrapper">
        
            <div class="form-field">
                {{ $Field.Label }}
            
                {{ include $Field "admin/forms/errors.tmpl" }}
                
                {{ if (ne $Field.HelpText "") }}
                    <p class="help-text">{{ $Field.HelpText }}</p>
                {{ end }}
                
                {{ $Field.Field }}
            </div>
        </div>
    {{ end }}
{{ end }}