{{ define "error_unpack" }}
    {{ $Errors := . }}
    {{ if (gt (len $Errors) 0) }}
        <ul class="error-list">
            {{ range $Error := $Errors }}
                <span class="error-label">{{ $Error.Field }}:</span>
                <li class="error">
                    <ul>
                    {{ range $err := $Error.Errors }}
                        <li class="error-message">{{ $err }}</li>
                    {{ end }}
                    </ul>
                </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}