{{ template "base" . }}

{{ define "title" }} {{index .Data "title"}} {{end}}

{{ define "css" }}

{{ end }}

{{ define "content" }}
{{$model_data := index .Data "model_data"}}
{{$length := index .Data "model_data_truelen"}}
<div class="admin-list-top">
    {{if .Request.User.HasPerms (index .Data "model").Permissions.Create}}
        <a href="{{index .Data "create_url"}}" class="admin-btn">Create</a>
    {{end}}
    {{template "page-limit.tmpl" .Data}}
    {{if index .Data "has_search"}}
        {{ template "list-search.tmpl" . }}
    {{end}}
    <h1 class="list-header">{{(index .Data "model").Name}} ({{$length}})</h1>
</div>
<div class="table-container">
    {{ if ge $length 1 }}
        <table width="100%">
            {{ range $i, $item := $model_data }}
                {{ if eq $i 0 }}
                    <thead>
                        <tr>
                            {{ range $value := $item }}
                                <th>{{ $value }}</th>
                            {{ end }}
                        </tr>
                    </thead>
                {{ else }}
                        <tr>
                            {{ range $value := $item }}
                                <td>{{ $value }}</td>
                            {{ end }}
                        </tr>
                {{ end }}
            {{ end }}
        </table>
    {{ else }}
        <div class="text-center">
            <h1>No data found</h1>
        </div>
    {{ end }}
</div>
    
{{if $pager := index .Data "paginator"}}
    {{ template "pagination.tmpl" $pager }}
{{end}}


{{ end }}

{{ define "js" }}
{{ end }}