{{ template "base" . }}

{{ define "title" }}{{ T "Audit Logs" }}{{ end }}

{{ define "extra_css" }}
    <link rel="stylesheet" href="{{ static "auditlogs/css/auditlogs.css" }}">
{{ end }}

{{ define "extra_js" }}
    <script src="{{ static "auditlogs/js/auditlogs.js" }}"></script>
{{ end }}

{{ define "content" }}

    {{ $cookieName := printf "logs-expanded-%d" (pk user) }}
    {{ $isOpen := (eq (getCookie $cookieName) "open") }}

    <div id="auditlogs" data-cookie-name="{{ $cookieName }}">
        <div class="alert info content-width lg">
            <p class="alert-text">{{ T "Audit logs provide a record of actions and events that have occurred within the system." }}</p>
            <p class="alert-text">{{ T "They are essential for tracking changes, monitoring user activity, and ensuring compliance with security policies." }}</p>
            <p class="alert-text">{{ T "Use the filters panel to narrow down the logs based on specific criteria such as date range, log level, or keywords." }}</p>
        </div>

        <div class="auditlog-list content-width">
            {{ $page := (.Get "paginator") }}

            {{ $page.HTML "page" 5 .Request.URL.Query }}

            {{ range $log := $page.Results }}
                <div class="auditlog-list-item auditlog-{{ $log.Level.String }}{{ if $isOpen }} open{{ end }}" data-controller="accordion" data-accordion-cookie-name-value="{{ $cookieName }}">
                    <div class="auditlog-list-item__header" data-level="{{ $log.Level.String }}" data-action="click->accordion#toggle">
                        {{ $log.Label }}
                    </div>
                    <div class="auditlog-list-item__body">
    
                        {{ if $log.Message }}
                            <div class="auditlog-list-item__body__text">
                                {{ $log.Message }}
                            </div>
                        {{ end }}
    
                        {{ $actions := $log.Actions }}
                        {{ if gt (len $actions) 0 }}
                            <div class="auditlog-list-item__body__actions">
                                <div data-controller="dropdown" class="dropdown">
                                    <button type="button" class="dropdown__toggle dropdown__toggle--icon" data-dropdown-target="toggle" aria-label={{ T "Actions" }}>
                                        <svg class="icon icon-dots-horizontal dropdown__toggle-icon" viewBox="0 0 16 16">
                                            <path d="M4.75 8c0 .969-.813 1.75-1.75 1.75-.969 0-1.75-.781-1.75-1.75 0-.938.781-1.75 1.75-1.75.938 0 1.75.813 1.75 1.75Zm5 0c0 .969-.813 1.75-1.75 1.75-.969 0-1.75-.781-1.75-1.75 0-.938.781-1.75 1.75-1.75.938 0 1.75.813 1.75 1.75Zm1.5 0c0-.938.781-1.75 1.75-1.75.938 0 1.75.813 1.75 1.75 0 .969-.813 1.75-1.75 1.75-.969 0-1.75-.781-1.75-1.75Z"></path>
                                        </svg>
                                    </button>
                                    <div data-dropdown-target="content" class="dropdown__content">
                                        {{ range $action := $actions }}
                                            {{ $icon := $action.Icon }}
                                            <a href="{{ $action.URL }}" class="{{ if $icon }} button-icon {{ end }}">
                                                {{ if $icon }}
                                                    <span class="icon button--icon">
                                                        {{ icon $icon }}
                                                    </span>
                                                {{ end }}
                                                {{ $action.Label }}
                                            </a>
                                        {{ end }}
    
                                    </div>
                                </div>
                            </div>
                        {{ end }}

                        {{ if and $log.User (pk $log.User) }}
                            <div class="auditlog-list-item__body__user">
                                <code>{{ $log.User | toString }}</code>
                            </div>
                        {{ end }}

                        {{ if $log.Timestamp }}
                            <div class="auditlog-list-item__body__timestamp">
                                <code>{{ $log.Timestamp.Format "2006-01-02 15:04:05" }}</code>
                            </div>
                        {{ end }}
                        
                    </div>
                </div>
            {{ else }}
                <div class="auditlog-list-item">
                    <div class="auditlog-list-item__body">
                        <p class="auditlog-list-empty-text">{{ T "No audit logs found" }}</p>
                    </div>
                </div>
            {{ end }}

            {{ $page.HTML "page" 5 .Request.URL.Query }}

        </div>
    </div>

{{ end }}