{{ template "base" . }}

{{ define "title" }}{{ T "Unpublish" }}{{ end }}


{{ define "extra_css" }}
    {{ $Media := (.Get "form").Media }}
    {{ range $css := $Media.CSS }}
        {{ $css }}
    {{ end }}
{{ end }}

{{ define "extra_js" }}
    {{ $Media := (.Get "form").Media }}
    {{ range $js := $Media.JS }}
        {{ $js }}
    {{ end }}
{{ end }}

{{ define "content" }}
    <form method="post" action="{{ (.Get "PostURL") }}" class="admin-form pages-form">
        <div class="alert info content-width">
            <p class="alert-text">{{ T "Move pages between different positions in the page- tree hierarchy." }}</p>
            <p class="alert-text">{{ T "Use the form below to select the new parent page for the target page." }}</p>
            <p class="alert-text">{{ T "Note that moving a page will also move all its children and change their URL structure." }}</p>
        </div>

        {{ csrf_field }}

        {{ $BackURL := (.Get "BackURL") }}
        {{ if $BackURL }}
            <input type="hidden" name="next" value="{{ $BackURL }}">
        {{ end }}

        {{ range $field := .Data.form.Fields }}
            {{ include $field "admin/shared/forms/form_panel.tmpl" }}
        {{ end }}
        
        <div class="buttons">
            <button class="button secondary" type="submit" value="{{ T "Submit" }}">
                {{ T "Move this page" }}
            </button>
            {{ if $BackURL }}
                <a class="button warning" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button warning" href="{{ url "admin:pages:list" (.Get "page_object").Reference.ID }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}