{{ define "form" }}
    {{ $Form := . }}

    <div class="form-styles">
        {{ range $File := $Form.Media.CSS }}
            {{ $File }}
        {{ end }}
    </div>
    
    {{ range $Field := $Form.BoundPanels }}

        {{ $Field.Render }}

    {{ end }}

    <div class="form-scripts">
        {{ range $File := $Form.Media.JS }}
            {{ $File }}
        {{ end }}
    </div>
    
{{ end }}