{{ define "model-select" }}
    {{ $choices := (.Get "choices") }}
    {{ $ctx := . }}

    <select data-model-select name="{{ .Get "name" }}" id="{{ .Get "id" }}" {{ safeAttrs (include (.Get "attrs") "forms/widgets/attrs.html") }}>
        {{ if (.Get "include_blank") }}
            <option value="">{{ (.Get "blank_label") }}</option>
        {{ end }}

        {{ range $choice := $choices }}
            <option data-model-select-option value="{{ $choice.Value }}"{{ if $choice.Selected }} selected{{ end }}>{{ $choice.Label }}</option>
        {{ end }}
    </select>

{{ end }}