{{ template "base" . }}

{{ define "title" }}{{ T "Delete %s" (.Get "model").Label }}{{ end }}

{{ define "extra_css" }}
    <link rel="stylesheet" href="{{ static "images/css/admin.css" }}">
{{ end }}

{{ define "content" }}
    <h1>{{ T "Delete %s" (.Get "model").Label }}</h1>
    <form method="post" class="admin-form">
        {{ csrf_field }}

        <div class="alert danger">
            {{ if (gt (len .Data.pk_list) 1) }}
                <p class="alert-text">{{ T "Are you sure you want to delete objects with ids %v?" .Data.pk_list }}</p>
            {{ else }}
                <p class="alert-text">{{ T "Are you sure you want to delete object %q with id %v?" (toString .Data.instance) (index .Data.pk_list 0) }}</p>
            {{ end }}
            <p class="alert-text">{{ T "This action cannot be reversed." }}</p>
        </div>

        {{ if .Data.instance }}
            <div class="image-admin-preview">
                <img alt="{{ .Data.instance.Title }}" src="{{ url "images:serve" .Data.instance.Path }}" class="image-thumbnail">
                <span class="title">{{ .Data.instance.Title }}</span>
            </div>
        {{ else if .Data.instances }}
            <ul class="instances-preview">
                {{ range $instance := .Data.instances }}
                    <li data-instance-id="{{ $instance.ID }}">{{ $instance.Title }} ({{ $instance.Path }})</li>
                {{ end }}
            </ul>
        {{ end }}

        {{ if .Data.BackURL }}
            <input type="hidden" name="next" value="{{ .Data.BackURL }}">
        {{ end }}

        <div class="form-buttons">
            <input class="button danger" type="submit" value="{{ T "Submit" }}">
            {{ $BackURL := (.Get "BackURL") }}
            {{ if $BackURL }}
                <a class="button warning hollow" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                {{ if (gt (len .Data.pk_list) 1) }}
                    <a class="button warning hollow" href="{{ url "admin:apps:model" (.Get "app").Name (.Get "model").GetName }}">{{ T "Back" }}</a>
                {{ else }}
                    <a class="button warning hollow" href="{{ url "admin:apps:model:edit" (.Get "app").Name (.Get "model").GetName (index .Data.pk_list 0) }}">{{ T "Back" }}</a>
                {{ end }}
            {{ end }}
        </div>
    </form>
{{ end }}
