{{ define "images_chooser_list" }}
    <div class="godjango-chooser-list">
        <link rel="stylesheet" href="{{ static "images/css/admin.css" }}">

        {{ if or .Data.search.allowed .Data.urls.create }}
            <div class="godjango-chooser-actions">
                {{ if .Data.search.allowed }}
                    <form method="get" class="godjango-chooser-list-form">
                        <div class="form-field">
                            <input type="text" name="{{ .Data.search.var }}" value="{{ .Data.search.value }}" placeholder="{{ .Data.search.placeholder }}" class="godjango-chooser-list-search-input">
                            <button type="submit" class="godjango-chooser-list-search-button button secondary">{{ .Data.search.text }}</button>
                        </div>
                    </form>
                {{ end }}

                {{ if .Data.urls.create }}
                    <div class="godjango-chooser-list-create">
                        <a href="{{ .Data.urls.create }}" class="button primary">{{ T "Create new" }}</a>
                    </div>
                {{ end }}
            </div>
        {{ end }}

        <div class="images-list list-wrapper">
            {{ range $image := .Data.list }}
                <div class="godjango-chooser-list-group default-style image-item" data-chooser-value="{{ $image.ID }}" data-chooser-preview="{{ $image.PreviewHTML }}">
                    <img alt="{{ $image.Title }}" src="{{ url "images:serve" $image.Path }}" class="image-thumbnail">
                    <div class="image-title">
                        {{ $image.Title }}
                    </div>
                </div>
            {{ end }}
        </div>

        {{ (.Data.page_object).HTML "page" 5 .Request.URL.Query }}
    </div>
{{ end }}