{{ define "title" }}{{ .Page.Page.Title }}{{ end }}

{{ define "extra_css" }}
    <link rel="stylesheet" href="{{ static "blog/css/blog.css" }}">
{{ end }}

{{ define "content" }}

    <div class="blog-wrapper">
        

        <h1>{{ .Data.blog_page.Page.Title }}</h1>

        <h2>Hello, {{ user.Username }}!</h2>

        {{ .Page.Editor.MustRender }} 

    </div>

{{ end }}