{{ define "title" }}{{ .Page.Page.Title }}{{ end }}

{{ define "extra_css" }}
    <link rel="stylesheet" href="{{ static "blog/css/blog.css" }}">
{{ end }}

{{ define "content" }}

    <div class="blog-wrapper">
        

        <h1>{{ .Data.blog_page.Page.Title }}</h1>

        <h2>Hello, {{ user.Username }}!</h2>

        {{ if .Data.blog_page.Thumbnail }}
        <img src="{{ url "images:serve" .Data.blog_page.Thumbnail.Path }}" alt="{{ .Data.blog_page.Thumbnail.Title }}">
        {{ end }}

        {{ if and .Data.blog_page.User .Data.blog_page.User.Email }}
        <p>By {{ .Data.blog_page.User.Email | toString }}</p>
        {{ end }}

        {{ .Page.Editor.MustRender }} 

    </div>

{{ end }}