{{ template "base" . }}

{{ define "title" }} {{ index .Data "title" }} {{ end }}

{{ define "css" }}{{ end }}

{{ define "content" }}
<h1>Index!</h1>
{{ end }}

{{ define "js" }}{{ end }}
{{ template "base.tmpl" }}