{{ define "skeleton" }}
    <div class="godjango-modal-wrapper">
        {{ block "modal_controls" . }}

            {{ template "controls" . }}

        {{ end }}

        {{ block "modal_root" . }}

        {{ end }}
    </div>
{{ end }}
