{{ define "providers" }}
    {{ $providers := .Data.component.Configs }}
    <div class="oauth2-providers">
        <div class="oauth2-providers__header">
            <h4 class="oauth2-providers__title">
                {{ T "Installed OAuth2 Providers" }}
            </h4>
        </div>

        <div class="oauth2-provider-list-wrapper">
            {{ range $cnf := $providers }}
                <div class="oauth2-provider-wrapper oauth2-row">
                    <div class="oauth2-provider oauth2-row">
                        {{ $logo := $cnf.ProviderLogoURL }}
                        {{ if $logo }}
                            <img src="{{ $logo }}" alt="{{ $cnf.Provider }}" class="oauth2-provider__icon">
                        {{ end }}

                        <div class="oauth2-provider__info">
                            <span class="oauth2-provider__info__title">
                                {{ $cnf.ProviderLabel }} ({{ $cnf.Provider }})
                            </span>

                            {{ $docURL := $cnf.DocumentationURL }}
                            {{ $privURL := $cnf.PrivacyPolicyURL }}
                            {{ if (or $docURL $privURL) }}
                                <div class="oauth2-provider__links oauth2-row">
                                    {{ if $docURL }}
                                        <a href="{{ $docURL }}" class="oauth2-provider__link" target="_blank" rel="noopener noreferrer">
                                            {{ T "Documentation" }}
                                        </a>
                                    {{ end }}

                                    {{ if (and $docURL $privURL) }}
                                        <span class="oauth2-provider__link-separator">|</span>
                                    {{ end }}

                                    {{ if $privURL }}
                                        <a href="{{ $privURL }}" class="oauth2-provider__link" target="_blank" rel="noopener noreferrer">
                                            {{ T "Privacy Policy" }}
                                        </a>
                                    {{ end }}
                                </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}