{{ define "providers" }}
    {{ $providers := .Config.Providers }}
    <div class="oauth2-providers">
        <div class="oauth2-providers__header">
            <h4 class="oauth2-providers__title">
                {{ T "Installed OAuth2 Providers" }}
            </h4>
        </div>

        {{ range $cnf := $providers }}
            <div class="oauth2-provider">
                <div class="oauth2-provider">
                    {{ if $cnf.ProviderLogoURL }}
                        <img src="{{ call $cnf.ProviderLogoURL }}" alt="{{ $cnf.Provider }}" class="oauth2-provider__icon">
                    {{ end }}

                    <div class="oauth2-provider__info">
                        <span class="oauth2-provider__info__title">
                            {{ $cnf.ReadableName }} ({{ $cnf.Provider }})
                        </span>
                    
                        {{ if $cnf.DocumentationURL }}
                            <a href="{{ $cnf.DocumentationURL }}" class="oauth2-provider__link" target="_blank" rel="noopener noreferrer">
                                {{ T "Documentation" }}
                            </a>
                        {{ end }}
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
{{ end }}