{{ define "filter_panel" }}
    {{ if .Data.filter_form }}
        {{ $hasAmountQuery := (not (not (.Request.URL.Query.Get (.Data.view_amount_param)))) }}
        <form method="get" action="{{ .Request.URL.Path }}" class="form filter-form">

            <input type="hidden" name={{ .Data.view_page_param }} value="{{ (.Data.view_paginator_object).PageNum }}">
            {{ if $hasAmountQuery }}
                <input type="hidden" name="{{ .Data.view_amount_param }}" value="{{ call .Request.URL.Query.Get (.Data.view_amount_param) }}">
            {{ end }}


            {{ $errorList := .Data.filter_form.ErrorList }}
            {{ if (gt (len $errorList) 0) }}
                <ul class="error-list">
                    {{ range $Error := $errorList }}
                        <li class="error"><p>{{ $Error }}</p></li>
                    {{ end }}
                </ul>
            {{ end }}
            
            {{ range $Field := .Data.filter_form.Fields }}        
                {{ include . "admin/shared/forms/form_panel.tmpl" }}
            {{ end }}
            
            <div class="buttons">
                <input class="button secondary hollow sm" type="submit" value="{{ T "Submit" }}">
                {{ if .Request.URL.RawQuery }}
                    {{ $extra := "" }}
                    {{ if $hasAmountQuery }}
                        {{ $extra = printf "&%s=%s" .Data.view_amount_param (call .Request.URL.Query.Get .Data.view_amount_param) }}
                    {{ end }}
                    <a href="{{ (printf "%s?%s=%d%s" .Request.URL.Path .Data.view_page_param (.Data.view_paginator_object).PageNum $extra) | safe }}" class="button danger hollow sm">{{ T "Clear all" }}</a>
                {{ end }}
            </div>
        </form>
    {{ end }}
{{ end }}
