{{ template "skeleton" . }}

{{ define "root" }}
    
    <div id="main">

        <section id="sidebar-wrapper">
            <div id="sidebar">
                <div id="sidebar-logo-wrapper">
                    <a id="sidebar-logo" href="{{ url "admin:home" }}">
                        
                        <img src="{{ static "admin/images/logo.png" }}" alt="Logo" id="sidebar-logo-img" />
    
                    </a>
                </div>
    
                <div id="sidebar-content">
                    {{ menu .Request }}
    
                    {{ block "sidebar" . }}{{ end }}
                </div>
                <div id="sidebar-footer">
                    {{ footer_menu .Request }}
                </div>
            </div>
        </section>

        <section id="content-wrapper">

            <div id="navigation">
                {{ block "navigation" . }}

                    {{ if .Page }}
                        {{ $breadCrumbs := .Page.GetBreadCrumbs }}
                        {{ $actions := .Page.GetActions }}
                        {{ $panels := .Page.GetSidePanels }}

                        {{ if $breadCrumbs }}
                            {{$last := (len $breadCrumbs | sub 1)}}
                            <div class="breadcrumbs">
                                {{ range $i, $breadCrumb := $breadCrumbs }}
                                    {{ if $breadCrumb.URL }}
                                        <a class="breadcrumb" href="{{ $breadCrumb.URL }}">{{ $breadCrumb.Title }}</a>
                                    {{ else }}
                                        <span class="breadcrumb{{ if eq $i $last }} active{{ end }}">
                                            {{ $breadCrumb.Title }}
                                        </span>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}

                        {{ if $actions }}
                            <div class="actions">
                                {{ range $action := $actions }}
                                    <a class="actions__action" href="{{ $action.URL }}" {{ if $action.Target }}target="{{ $action.Target }}"{{ end }}>
                                        {{ if $action.Icon }}
                                            <span class="actions__action--icon">
                                                {{ icon $action.Icon }}
                                            </span>
                                        {{ end }}
                                        {{ $action.Title }}
                                    </a>
                                {{ end }}
                            </div>
                        {{ end }}

                        {{ if $panels }}
                            <div class="side-panels" data-controller="side-panels">
                                <div class="side-panels__controls actions">
                                    {{ range $panel := $panels }}
                                        <div class="side-panels__controls__control actions__action"
                                        	data-side-panels-target="control"
									        data-side-panels-id-param="panel__{{ $panel.ID }}"
									        data-action="click->side-panels#open">
                                            {{ templ $panel.Button }}
                                        </div>
                                    {{ end }}
                                </div>
                                <div class="side-panels__content" data-side-panels-target="panels">
                                    {{ range $panel := $panels }}
                                        <div class="side-panels__content__panel" data-side-panels-target="panel" id="panel__{{ $panel.ID }}">
                                            <div class="side-panels__content__controls">
                                                <button class="side-panels__content__control" data-action="click->side-panels#fullscreen">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="side-panels__content__control__icon" viewBox="0 0 16 16">
	                                                    {{/* The MIT License (MIT) --> */}}
	                                                    {{/* Copyright (c) 2011-2024 The Bootstrap Authors --> */}}
                                                        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z"/>
                                                        <path d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0z"/>
                                                    </svg>
                                                </button>
                                                
                                                <button class="side-panels__content__control" data-action="click->side-panels#close" data-side-panels-id-param="panel__{{ $panel.ID }}">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="side-panels__content__control__icon" viewBox="0 0 16 16">
	                                                    {{/* The MIT License (MIT) --> */}}
	                                                    {{/* Copyright (c) 2011-2024 The Bootstrap Authors --> */}}
                                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                                    </svg>
                                                </button>
                                            </div>
                                            {{ templ $panel.Content }}
                                        </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}

                    {{ end }}

                {{ end }}
            </div>

            {{ block "admin_messages" . }}
                <div class="messages-wrapper">
                    {{ template "messages" . }}
                </div>
            {{ end }}

            <div id="content">

                {{ block "content_root" . }}
                    {{ block "header" . }}
                        {{ $Page := (.Get "Page") }}
                        {{ if $Page }}
                            {{ $Title := $Page.Title }}
                            {{ $Subtitle := $Page.Subtitle }}
                
                            {{ if (and (or $Title $Subtitle)) }}
                                {{ component "admin.header" 1 $Title $Subtitle $Page.Buttons }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    {{ block "content" . }}{{ end }}
                {{ end }}
            </div>

        </section>

    </div>
    <script src="{{ static "admin/js/messages.js" }}"></script>
{{ end }}