{{ template "skeleton" . }}

{{ define "root" }}
    

    <div id="main">

        <section id="sidebar-wrapper">
            <div id="sidebar">
                <div id="sidebar-logo-wrapper">
                    <a id="sidebar-logo" href="{{ url "admin:home" }}">
                        
                        <img src="{{ static "admin/images/logo.png" }}" alt="Logo" />
    
                    </a>
                </div>
    
                <div id="sidebar-content">
                    {{ menu .Request }}
    
                    {{ block "sidebar" . }}{{ end }}
                </div>
                <div id="sidebar-footer">
                    {{ footer_menu .Request }}
                </div>
            </div>
        </section>

        <section id="content-wrapper">

            <div id="navigation">
                {{ block "navigation" . }}

                    {{ if .Page }}
                        {{ $breadCrumbs := .Page.GetBreadCrumbs }}
                        {{ $actions := .Page.GetActions }}

                        {{ if $breadCrumbs }}
                            {{$last := (len $breadCrumbs | sub 1)}}
                            <div class="breadcrumbs">
                                {{ range $i, $breadCrumb := $breadCrumbs }}
                                    {{ if $breadCrumb.URL }}
                                        <a class="breadcrumb" href="{{ $breadCrumb.URL }}">{{ $breadCrumb.Title }}</a>
                                    {{ else }}
                                        <span class="breadcrumb{{ if eq $i $last }} active{{ end }}">
                                            {{ $breadCrumb.Title }}
                                        </span>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}

                        {{ if $actions }}
                            <div class="actions">
                                {{ range $action := $actions }}
                                    <a class="actions__action" href="{{ $action.URL }}" {{ if $action.Target }}target="{{ $action.Target }}"{{ end }}>
                                        {{ if $action.Icon }}
                                            <span class="actions__action--icon">
                                                {{ icon $action.Icon }}
                                            </span>
                                        {{ end }}
                                        {{ $action.Title }}
                                    </a>
                                {{ end }}
                            </div>
                        {{ end }}
                        
                    {{ end }}

                {{ end }}
            </div>

            <div id="content">
                {{ block "header" . }}
                    {{ $Page := (.Get "Page") }}
                    {{ if $Page }}
                        {{ $Title := $Page.Title }}
                        {{ $Subtitle := $Page.Subtitle }}

                        {{ if (or $Title $Subtitle) }}
                            {{ component "admin.header" 1 $Title $Subtitle }}
                        {{ end }}
                    {{ end }}
                {{ end }}
                {{ block "content" . }}{{ end }}
            </div>

        </section>

    </div>


{{ end }}