{{ template "skeleton" . }}

{{ define "root" }}
    
    <div id="main">

        <section id="sidebar-wrapper">
            <div id="sidebar"{{ if not (eq (getCookie "admin_sidebar_collapsed") "true") }} class="collapsed"{{ end }} data-controller="sidebar" data-sidebar-cookie-name-value="admin_sidebar_collapsed">
                <div id="sidebar-controls">
                    <button id="sidebar-toggle" data-action="click->sidebar#toggle" aria-label={{ T "Toggle sidebar" }}>
				        <svg xmlns="http://www.w3.org/2000/svg" class="menu-item-toggle-icon" fill="currentColor" viewBox="0 0 16 16">
				        	<!-- The MIT License (MIT) -->
				        	<!-- Copyright (c) 2011-2024 The Bootstrap Authors -->
				        	<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"></path>
				        </svg>
                    </button>
                </div>
                <div id="sidebar-logo-wrapper">
                    <a id="sidebar-logo" href="{{ url "admin:home" }}">
                        <img src="{{ static "admin/images/logo.png" }}" alt="Logo" id="sidebar-logo-img" />
                    </a>
                </div>
    
                <div id="sidebar-content">
                    {{ menu .Request }}
    
                    {{ block "sidebar" . }}{{ end }}
                </div>
                <div id="sidebar-footer">
                    {{ footer_menu .Request }}
                </div>
            </div>
        </section>

        <section id="content-wrapper">

            <div id="navigation">
                {{ block "navigation" . }}

                    {{ if .Page }}
                        {{ $breadCrumbs := .Page.GetBreadCrumbs }}
                        {{ $actions := .Page.GetActions }}
                        {{ $panels := .Page.GetSidePanels }}

                        {{ if $breadCrumbs }}
                            {{$last := (len $breadCrumbs | sub 1)}}
                            <div class="breadcrumbs">
                                {{ range $i, $breadCrumb := $breadCrumbs }}
                                    {{ if $breadCrumb.URL }}
                                        <a class="breadcrumb" href="{{ $breadCrumb.URL }}">{{ $breadCrumb.Title }}</a>
                                    {{ else }}
                                        <span class="breadcrumb{{ if eq $i $last }} active{{ end }}">
                                            {{ $breadCrumb.Title }}
                                        </span>
                                    {{ end }}
                                {{ end }}
                            </div>
                        {{ end }}

                        <div id="navigation_right">
                            {{ if $actions }}
                                <div class="actions">
                                    {{ range $action := $actions }}
                                        <a class="navigation__action" href="{{ $action.URL }}" {{ if $action.Target }}target="{{ $action.Target }}"{{ end }}>
                                            {{ if $action.Icon }}
                                                <span class="navigation__action--icon">
                                                    {{ icon $action.Icon }}
                                                </span>
                                            {{ end }}
                                            {{ $action.Title }}
                                        </a>
                                    {{ end }}
                                </div>
                            {{ end }}
                            
                            {{ if and $panels $panels.HasPanels }}
                                <div class="side-panels-wrapper">
                                    {{ templ $panels.Component }}
                                </div>
                            {{ end }}
                        </div>

                    {{ end }}

                {{ end }}
            </div>

            {{ block "admin_messages" . }}
                <div class="messages-wrapper">
                    {{ template "messages" . }}
                </div>
            {{ end }}

            {{ block "content_node" . }}
                <div id="content">
                    {{ block "content_root" . }}
                        <div id="content__header">
                            {{ block "header_root" . }}
                                {{ block "header" . }}
                                    {{ $Page := (.Get "Page") }}
                                    {{ if $Page }}
                                        {{ $Title := $Page.Title }}
                                        {{ $Subtitle := $Page.Subtitle }}

                                        {{ if (and (or $Title $Subtitle)) }}
                                            {{ component "admin.header" 1 $Title $Subtitle $Page.GetHeaderComponents }}
                                        {{ end }}
                                    {{ end }}
                                {{ end }}
                            {{ end }}
                        </div>
                        <div id="content__body">
                            {{ block "content" . }}{{ end }}
                        </div>
                    {{ end }}
                </div>
            {{ end }}

        </section>

    </div>
    <script src="{{ static "admin/js/messages.js" }}"></script>
{{ end }}