{{ define "skeleton" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{ block "title_root" . }}{{ block "title" . }}{{ end }}{{ block "site_name" . }} | {{ T "Adminsite" }}{{ end }}{{ end }}</title>

        <link rel="icon" href="{{ static "admin/images/favicon.ico" }}" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="{{ static "admin/css/admin.css" }}">
        <link rel="stylesheet" type="text/css" href="{{ static "admin/css/breadcrumbs.css" }}">
        <link rel="stylesheet" type="text/css" href="{{ static "admin/css/dropdown.css" }}">
        <link rel="stylesheet" type="text/css" href="{{ static "admin/css/paginator.css" }}">
        <link rel="stylesheet" type="text/css" href="{{ static "admin/css/list.css" }}">
        <link rel="stylesheet" type="text/css" href="{{ static "admin/css/menu.css" }}">
        <link rel="stylesheet" type="text/css" href="{{ static "admin/css/grid.css" }}">
        {{ $Media := script_hook_output }}
        {{ range $css := $Media.CSS }}
            {{ $css }}
        {{ end }}
        
        {{ block "extra_css" . }}{{ end }}
    </head>
    <body id="root" class="preloading">
        {{ block "root" . }}{{ end }}

        {{ icons }}
        
        <script src="{{ static "admin/js/index.js" }}"></script>
        {{ range $js := $Media.JS }}
        {{ $js }}
        {{ end }}
        {{ block "extra_js" . }}{{ end }}
    </body>
</html>
{{ end }}