package components

import "context"

templ Button(config ButtonConfig) {
    <button { templ.Attributes(config.Attrs)... } class={ 
        "button",
        templ.KV("primary", config.Type & ClassTypePrimary != 0),
        templ.KV("secondary", config.Type & ClassTypeSecondary != 0),
        templ.KV("success", config.Type & ClassTypeSuccess != 0),
        templ.KV("danger", config.Type & ClassTypeDanger != 0),
        templ.KV("warning", config.Type & ClassTypeWarning != 0),
        templ.KV("info", config.Type & ClassTypeInfo != 0),
        templ.KV("hollow", config.Type & ClassTypeHollow != 0),
    }>
        if config.Icon != nil {
            @config.Icon
        }
        switch {
        case config.Text != nil && config.Icon != nil:
            <span class="text">
                { config.Text(ctx) }
            </span>
        case config.Text != nil:
            { config.Text(ctx) }
        }
    </button>
}

func hrefWithCtx(fn func() string) func(context.Context) string {
    return func(c context.Context) string {
        return fn()
    }
}

templ Link(config ButtonConfig, href func() string) {
    @renderLinkConfig(LinkConfig{
        URL:   hrefWithCtx(href),
	    Text:  config.Text,
        Icon:  config.Icon,
        Type:  config.Type,
        Attrs: config.Attrs,
        Hidden: config.Hidden,
    })
}

templ renderLinkConfig(config LinkConfig) {
	if config.URL == nil {
		panic("Link requires a href function")
	}

	if config.Text == nil && config.Icon == nil {
		panic("Link requires either Text or Icon to be set")
	}
	<a { templ.Attributes(config.Attrs)... } href={ templ.URL(config.URL(ctx)) } class={
		"button",
		templ.KV("primary", config.Type & ClassTypePrimary != 0),
		templ.KV("secondary", config.Type & ClassTypeSecondary != 0),
		templ.KV("success", config.Type & ClassTypeSuccess != 0),
		templ.KV("danger", config.Type & ClassTypeDanger != 0),
		templ.KV("warning", config.Type & ClassTypeWarning != 0),
		templ.KV("info", config.Type & ClassTypeInfo != 0),
		templ.KV("hollow", config.Type & ClassTypeHollow != 0),
	}>

	    if config.Icon != nil {
	    	@config.Icon
	    }
    
        switch {
        case config.Text != nil && config.Icon != nil:
            <span class="text">
                { config.Text(ctx) }
            </span>
        case config.Text != nil:
            { config.Text(ctx) }
        }
	</a>
}