<div class="dropdown">
    <h3 class="admin-app-header dropdown-button">
        Menu
    </h3>
    <ul class="admin-app-urls dropdown-content">
        <li><a href="/admin/profile">Profile</a></li>
        <li><a href="/admin/password">Change Password</a></li>
    </ul>
</div>
