{{ $app := . }}
{{ if $app }}
    {{$Models := $app.Models.InOrder}}
        <div class="dropdown">
            <h3 class="admin-app-header dropdown-button">
                {{ $app.Name|title }}
            </h3>
            <ul class="admin-app-urls dropdown-content">
                {{ range $m := $Models }}
                    <li><a href="{{ $m.URL_List }}">{{ $m.Name|title }}</a></li>
                {{ end }}
            </ul>
        </div>
{{ end }}