<section class="messages text-center">
    {{range .}}
        {{ if eq .Type "success" }}
            <div class="message bg-success removeself">
                <div class="font-l">{{.Text}}</div>
            </div>
        {{else if eq .Type "error" }}
            <div class="message bg-danger removeself">
                <div class="font-l">{{.Text}}</div>
            </div>
        {{else if eq .Type "warning" }}
            <div class="message bg-warning removeself">
                <div class="font-l">{{.Text}}</div>
            </div>
        {{else if eq .Type "info" }}
            <div class="message bg-info removeself">
                <div class="font-l">{{.Text}}</div>
            </div>
        {{end}}
    {{end}}
</section>
<script>
    let messages = document.querySelectorAll(".removeself");
    let messageAnimation = [
        { opacity: 1, height: "100%"},
        { opacity: 0, height: "0%"}
    ];
    let messageAnimationOptions = {
        duration: 200,
        easing: 'ease-in-out'
    };
    messages.forEach(function(elem){
        elem.addEventListener("click", function(){
            let anim = elem.animate(messageAnimation, messageAnimationOptions)
            anim.onfinish = () => {
                elem.remove();
            };
        });
    });
    setTimeout(function(){
        for (let i = 0; i < messages.length; i++) {
            setTimeout(function(){
                // Gradually decrease the height of the message, such that the other messages go up
                let height = messages[i].offsetHeight;
                let anim = messages[i].animate([
                    { transform: "translateY(0px)", height: height + "px" },
                    { transform: "translateY(calc(-" + height + "px * 1.5))", height: "10px" }
                ], {
                    duration: 200,
                    easing: 'ease-in-out'
                })
                anim.onfinish = () => {
                    messages[i].remove();
                }
            }, 1000 * i);
        }
    }, 4000);
</script>