.pages-list tr td:first-child {
    max-width: 900px;
    white-space: nowrap;
}
.pages-list tr td:has(> .dropdown) {
    min-width: 100px;
    max-width: 150px;
} 
.pages-list tr td:nth-child(3),
.pages-list tr td:nth-child(4) {
    width: 20%;
}
.pages-menu-item .pages-submenu-wrapper .header-menu-item {
    font-size: 1.25em;
}
.pages-menu-wrapper .pages-root-menu-item {
    font-size: 1.4em;
}
.pages-menu-wrapper:has(.level-up) .pages-root-menu-item {
    display: none !important;
}
.pages-menu-item .pages-submenu-wrapper .menu-item-content {
    cursor: pointer;
    background-color: var(--submenu-bg-color);
    padding: 1em;
}
.pages-menu-item.open .pages-submenu-wrapper .menu-item:hover {
    color: var(--submenu-text-color-hover);
}
.pages-menu-item .pages-submenu-wrapper {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 400px;
    pointer-events: none;
    color: var(--submenu-text-color);
    background-color: var(--submenu-bg-color);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: left 0.2s, opacity 0.2s, visibility 0.2s,
        transform 0.2s;
    z-index: -1;
}
.pages-menu-item.open .pages-submenu-wrapper {
    left: var(--menu-width);
    transform: translateX(0);
    pointer-events: auto;
    box-shadow: var(--menu-box-shadow);
    transition: left 0.2s, opacity 0.2s, visibility 0.2s,
        transform 0.2s;
}
.pages-menu-item .menu-item-toggle {
    position: relative;
    width: 3em !important;
}
.pages-menu-item .open-icon,
.pages-menu-item .close-icon {
    position: absolute;
    top: 50%;
    right: 0.25rem;
    transform: translateY(-50%);
    vertical-align: middle;
    transition: all 0.2s !important;
}
.pages-menu-item.open .close-icon,
.pages-menu-item .open-icon {
    opacity: 1;
    visibility: visible;
    filter: blur(0);
}
.pages-menu-item .close-icon,
.pages-menu-item.open .open-icon {
    opacity: 0;
    visibility: hidden;
    filter: blur(0.5px);
}
.pages-menu-item .pages-submenu-wrapper .menu-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 3em;
}
.pages-menu-item .pages-submenu-wrapper .menu-item-content {
    height: calc(3em - 1px);
    flex: 1;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}
.pages-menu-item .pages-submenu-wrapper .menu-item-logo {
    cursor: pointer;
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    height: 3em;
    width: 3.25em;
    color: var(--submenu-text-color);
    border-top: 1px dotted rgba(255, 255, 255, 0.2);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
    transition: background-color 0.2s;
}
.pages-menu-item .pages-submenu-wrapper .menu-item-logo.level-up {
    border-right: 1px dotted rgba(255, 255, 255, 0.2);
}
.pages-menu-item .pages-submenu-wrapper .menu-item-logo.level-down {
    border-left: 1px dotted rgba(255, 255, 255, 0.2);
}
.pages-menu-item .pages-submenu-wrapper .menu-item-logo:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.pages-menu-item .pages-submenu-wrapper .menu-item-logo svg {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
}
.pages-menu-item .menu-load-error {
    color: red;
    font-size: 1.325em;
    font-weight: 600;
    min-height: 150px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-loader-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    height: 100%;
}

.menu-loader-wrapper {
    /* change color here */
    color: white;
}
.menu-loader,
.menu-loader:after {
    box-sizing: border-box;
}
.menu-loader {
    --size: 40px;
    display: inline-block;
    width: var(--size);
    height: var(--size);
}
.menu-loader:after {
    content: " ";
    display: block;
    width: calc(var(--size) /  1.25);
    height: calc(var(--size) / 1.25);
    margin: calc(var(--size) / 10);
    border-radius: 50%;
    border: calc(var(--size) / 12.5) solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: menu-loader-rings 1.2s linear infinite;
}
@keyframes menu-loader-rings {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}


.pages-type-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.325em 1em;
    border-bottom: 1px dotted var(--secondary-bg-color);
}
.pages-type-list-item:hover {
    text-decoration: none;
}
.pages-type-list-item .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.475em;
}
.pages-type-list-item p {
    margin: 0;
}
.pages-type-list-item .icon svg {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    vertical-align: middle;
    transition: all 0.2s;
}
.pages-type-list-item:hover .icon svg {
    fill: var(--secondary-bg-color);
    transform: scale(0.95);
}
.pages-type-list-item .text {
    font-size: 1.25em;
    font-weight: 600;
}
.pages-type-list-item .description {

}
.pages-unpublish-form {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    margin-left: 3em;
    padding: 1em;
}
.pages-unpublish-form .buttons {
    margin-top: 1em;
}
.pages-unpublish-form .buttons > button {
    margin-right: 1em;
}

.model-list-display {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0.325em 1em;
    padding-bottom: 0.5em;
}
.model-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0.325em 1em;
    border-bottom: 1px dotted var(--secondary-bg-color);
}
.model-list-item-icon svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    margin-right: 0.725em;
}
.model-list-item-icon-success {
    color: var(--success-bg-color);
}
.model-list-item-icon-danger {
    color: var(--danger-bg-color);
}
.model-list-item-link {
    font-size: 1.25em;
    text-decoration: none;
    color: var(--text-color);
    flex: 1;
}
.outdated-pages-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}
.outdated-pages-list-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.outdated-pages-list-wrapper .list tr.column-group {
    height: 2.5em;
}
.outdated-pages-list-wrapper .list tr.list-header th:last-child,
.outdated-pages-list-wrapper .list tr.column-group td:last-child {
    text-align: right;
}
.outdated-pages-filters {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 1rem;
}
