:root {
    --sidebar-width: 200px;
    --text-color: #333;
    --color-link: #007d7e;
    --color-link-hover: #006e6e;

    --bg-color-button: #007bff;
    --text-color-button: #fff;

    --primary-bg-color: #2e1f5e;
    --primary-bg-hover: #3f3370;
    --secondary-bg-color: #007d7e;
    --secondary-bg-hover: #006e6e;
    --success-bg-color: #1b8666;
    --success-bg-hover: #166a51;
    --warning-bg-color: #faa500;
    --warning-bg-hover: #db9406;
    --danger-bg-color: #fd5765;
    --danger-bg-hover: #db4854;

    --primary-text-color: #ffffff;
    --secondary-text-color: #ffffff;
    --success-text-color: #ffffff;
    --warning-text-color: #ffffff;
    --danger-text-color: #ffffff;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*:focus-within:not(:has(:focus-within)),
*:focus {
    outline: 2px solid var(--color-link);
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    background-color: #fff;
}
#root {
    & h1, 
    & h2, 
    & h3, 
    & h4, 
    & h5, 
    & h6 {
        margin-top: 0;
        margin-bottom: .5rem;
        color: #2e1f5e;
    }
}
h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}
a {
    color: var(--color-link);
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    text-underline-offset: 0.2em;
    -webkit-text-decoration-skip: objects;
}
a:hover {
    color: var(--color-link-hover);
    text-decoration: dotted underline;
}
#main {
    display: flex;
    flex-direction: row;
    height: 100%;
}
#main #sidebar-wrapper {
    --menu-width: var(--sidebar-width);
    flex: 0 0 var(--sidebar-width);
    background-color: #2e1f5e;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.4);
    position: sticky;
    top: 0;
    z-index: 1000;
}
#main #sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: var(--menu-bg-color);
}
#main #sidebar #sidebar-logo-wrapper {
    height: 150px;
}
#main #sidebar #sidebar-logo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 1em 0;
    padding: 1em;
}
#main #sidebar #sidebar-logo svg,
#main #sidebar #sidebar-logo img {
    height: 100%;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}
#main #sidebar #sidebar-logo svg:hover,
#main #sidebar #sidebar-logo img:hover {
    transform: scale(1.1);
}
#main #sidebar #sidebar-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}
#main #sidebar #sidebar-footer {
    margin-top: auto;
    margin-bottom: 1em;
}
#main #content-wrapper {
    flex: 1;
    overflow-y: auto;
    position: relative;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--sidebar-width);
    z-index: 100;
}
#main #content-wrapper #navigation {

}
#main #content-wrapper #content {
    background-color: #fff;
    padding: 0.5em 1em;
}

.panel {
    margin-bottom: 1.25rem;
    max-width: 1040px;
}
.panel label,
.form-field label {
    color: hsl( 254.3 50.4% 24.5% );
    display: block;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0.25rem;
    margin-top: 0;
}
.panel .help-text {
    color: hsl( 0 0% 60% );
    font-size: .95rem;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 0.375rem;
}
.panel input:not([type="checkbox"], [type="radio"]),
.panel textarea {
    -moz-appearance: none;
    appearance: none;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl( 0 0% calc( 14.9% + 63.5%) );
    border-radius: .3125rem;
    color: var(--text-color);
    font-size: 1.1875rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 2.625rem;
    padding: .375rem 1.25rem;
    width: 100%;
}
.panel input:not([type="checkbox"], [type="radio"]):disabled,
.panel input:not([type="checkbox"], [type="radio"]):read-only,
.panel textarea:disabled,
.panel textarea:read-only {
    background-color: hsl( 0 0% 98% );
    color: hsl( 0 0% 60% );
}
.panel.panel-title {
    font-size: 1.5rem;
}
.panel.panel-title .panel__errors {
    margin-bottom: 0.75rem;
}
.panel.panel-title .panel__error {
    font-size: 1.1rem;
}
.panel.panel-title input:not([type="checkbox"], [type="radio"]),
.panel.panel-title textarea {
    font-size: 1.4rem;
    font-weight: 600;
}
.panel.panel-multi {
    margin-bottom: 0;
}
.panel.panel-multi > .panel__body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
}
.panel.panel-multi > .panel__body > * {
    flex: 1 1 auto;
}
.panel .panel__help {
    margin-bottom: 0.35rem;
}
.panel .panel__errors ul,
.error-list {
    color: hsl( 0 100% 50% );
    font-size: .875rem;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}
.panel .panel__errors .panel__error,
.error-list .error {
    list-style-type: none;
}
.panel .panel__errors .panel__error p,
.error-list .error p {
    margin: 0.125rem 0;
}

button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: initial;
}
a.button, .button a {
    text-decoration: none;
}
.button {
    -webkit-font-smoothing: auto;
    -moz-appearance: none;
    background-color: var(--bg-color-button);
    border: 1px solid var(--bg-color-button);
    border-radius: .1875rem;
    color: var(--text-color-button);
    display: inline-block;
    font-weight: 600;
    letter-spacing: .0525rem;
    height: 2.25em;
    line-height: calc(2.25em - 2px);
    outline-offset: 3px;
    overflow: hidden;
    padding: 0 1em;
    position: relative;
    text-decoration: none;
    transition: background-color .1s ease;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    width: auto
}
.button+.button {
    margin-inline-start:1rem
}
.button.primary {
    --bg-color-button: var(--primary-bg-color);
    --text-color-button: var(--primary-text-color);
}
.button.primary:hover {
    background-color: var(--primary-bg-hover);
    color: var(--primary-text-color);
}
.button.secondary {
    --bg-color-button: var(--secondary-bg-color);
    --text-color-button: var(--secondary-text-color);
}
.button.secondary:hover {
    background-color: var(--secondary-bg-hover);
    color: var(--secondary-text-color);
}
.button.success {
    --bg-color-button: var(--success-bg-color);
    --text-color-button: var(--success-text-color);
}
.button.success:hover {
    background-color: var(--success-bg-hover);
    color: var(--success-text-color);
}
.button.danger {
    --bg-color-button: var(--danger-bg-color);
    --text-color-button: var(--danger-text-color);
}
.button.danger:hover {
    background-color: var(--danger-bg-hover);
    color: var(--danger-text-color);
}
.button.warning {
    --bg-color-button: var(--warning-bg-color);
    --text-color-button: var(--warning-text-color);
}
.button.warning:hover {
    background-color: var(--warning-bg-hover);
    color: var(--warning-text-color);
}
.button.hollow {
    background-color: transparent;
    color: var(--bg-color-button);
    border-color: var(--bg-color-button);
}
.button.hollow:hover {
    background-color: var(--bg-color-button);
    color: var(--text-color-button);
}

@media screen and (min-width: 50em) {
    .button {
        font-size: .875rem;
        height: 3em;
        line-height: calc(3em - 2px);
        padding: 0 1.4em
    }
}