:root {
    --breadcrumb-bg-color: var(--navigation-bg-color);
    --breadcrumb-border-color: var(--navigation-border-color);
    --breadcrumb-text-color: var(--navigation-text-color);
    --breadcrumb-text-color-hover: var(--navigation-text-color-hover);
}
.breadcrumbs {
    display: flex;
    flex-direction: row;
    gap: 0.765em;
    font-size: 1.1em;
    font-weight: 600;
}

.breadcrumbs a {
    color: var(--breadcrumb-text-color);
    text-decoration: underline dotted var(--breadcrumb-text-color)
}

.breadcrumbs .breadcrumb.active {
    color: var(--breadcrumb-text-color-hover);
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: var(--breadcrumb-text-color-hover);
}
