table.list {
    border-collapse: collapse;
    font-size: 1.125em;
    width: 100%;
}

.view-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
    gap: 1em;
}

.list .list-title {
    font-size: 1.1em;
    font-weight: bold;
}

.list tr.list-header {
    border-bottom: 1px solid #ddd;
}

.list tr.list-header th:first-child,
.list tr.column-group td:first-child {
    padding-left: 0.5em;
}

.list th.list-column-header {
    padding-top: 0.375em;
    padding-bottom: 0.75em;
}

.list tr.column-group {
    height: 3.75em;
}

.list td.list-column {
    /* padding-top: 1.25em; */
    /* padding-bottom: 1.125em; */
}
