body {
    background-color: #007d7e;
    background: radial-gradient(
            100% 300.28% at 100% 0%,
            #006363 0%,
            #2e1f5e 32.2%,
            #261a4d 42%
        ),
        #007d7e;
}
.login-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-container {
    width: max(400px, 30dvw);
    padding: 1.5em 2.5em;
    margin-top: -15dvh;
    margin-left: -50dvw;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}