{{ template "base" . }}

{{ define "title" }}{{ T "Audit Logs" }}{{ end }}

{{ define "content" }}

    <div class="auditlog-list">
        {{ range $log := (.Get "logs") }}
            <div class="auditlog-list-item auditlog-{{ $log.Level.String }}">
                <div class="auditlog-list-item__header">
                    <div class="auditlog-list-item__header__date">
                        <h3>{{ $log.Label }}</h3>
                    </div>
                </div>
                <div class="auditlog-list-item__body">
                    <p>{{ $log.Message }}</p>
                </div>
            </div>
        {{ end }}
    </div>

{{ end }}