{{ template "base" . }}

{{ define "title" }}{{ T "Edit" }}{{ end }}

{{ define "content" }}
    <h1>{{ T "Edit" }}</h1>
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
        {{ include . "admin/forms/form.tmpl" }}
        <input class="button" type="submit" value="Submit">
    </form>
{{ end }}