{{ template "base" . }}

{{ define "title" }}{{ T "List" }}{{ end }}

{{ define "content" }}
    <div class="list-view-header">
        <div class="buttons">
            <a href="{{ url "admin:apps:model:add" (.Get "app").Name (.Get "model").Name }}" class="button primary">{{ T "Add" }}</a>
        </div>
        <div class="title-text">
            <h1>{{ (.Get "model").Label }} {{ T "List" }}</h1>
        </div>
    </div>
    {{ $list := (.Get "list") }}
    {{ $headers := (.Get "headers") }}

    {{ safe $list.Render }}
{{ end }}