.sequence-block {
    position: relative;
}
.sort-selected {
    box-shadow: 0 0 0 2px var(--secondary-bg-color);
    border-radius: 4px;
}
.sequence-block .sequence-block-add-button {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    z-index: 2;
    padding: .25rem .5rem;
    cursor: pointer;
    color: var(--secondary-bg-color);
    font-size: 1.25rem;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sequence-block .sequence-block-items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sequence-block .sequence-block-field {
    position: relative;
}
.sequence-block .sequence-block-field-heading {
    display: flex;
    flex-direction: row;
}
.sequence-block .sequence-block-field-heading .sequence-block-field-heading-label.sequence-block-field-heading-label {
    font-weight: bold;
    margin-bottom: 0;
}
.sequence-block .sequence-block-field-heading .sequence-block-field-heading-index {
    line-height: 1.3;
    font-weight: bold;
    margin-inline-start: 0.25rem;
    color: var(--secondary-bg-color);
}
.sequence-block .sequence-block-field-controls {
    position: absolute;
    top: .5rem;
    right: .75rem;
    cursor: grab;
    font-size: 1.25rem;
    color: var(--text-secondary-color);
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    user-select: none;
}
.sequence-block .sequence-block-field-controls > button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
}
.sequence-block .sequence-block-field-content {
    margin-top: 0.425rem;
    margin-inline-start: 0.5rem;
    position: relative;
    border: 2px dashed var(--border-color);
    padding-top: .75rem;
    padding-bottom: .75rem;
    padding-left: 1.75rem;
    padding-right: .75rem;
}
.sequence-block .sequence-block-field-actions {
    position: absolute;
    top: -0.325rem;
    bottom: -.325rem;
    left: -1.9rem;
}
.sequence-block .sequence-block-field-actions::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    border: 1px dashed var(--border-color);
}
.sequence-block .sequence-block-field-actions-group {
    top: 5%;
    position: sticky;
    gap: 0.25rem;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
    z-index: 1;
}
.sequence-block .sequence-block-field-actions-group button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.sequence-block .sequence-block-field-actions-text {
    color: var(--secondary-bg-color);
    font-size: 1.25rem;
    line-height: 1;
}
.sequence-block .sequence-block-field-delete {

}
.sequence-block .sequence-block-field-add {

}