{{ template "skeleton" . }}

{{ define "root" }}
    

    <div id="main">

        <section id="sidebar">
            {{ block "sidebar" . }}{{ end }}
        </section>

        <section id="content-wrapper">

            <div id="navigation">
                {{ block "navigation" . }}{{ end }}
            </div>

            <div id="content">
                {{ block "content" . }}{{ end }}
            </div>

        </section>

    </div>


{{ end }}