{{ template "skeleton" . }}

{{ define "root" }}
    

    <div id="main">

        <section id="sidebar">
            <div id="sidebar-logo-wrapper">
                <a id="sidebar-logo" href="{{ url "admin:home" }}">
                    

                </a>
            </div>
            {{ block "sidebar" . }}{{ end }}
        </section>

        <section id="content-wrapper">

            <div id="navigation">
                {{ block "navigation" . }}{{ end }}
            </div>

            <div id="content">
                {{ block "content" . }}{{ end }}
            </div>

        </section>

    </div>


{{ end }}