{{ define "skeleton" }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" type="text/css" href="{{ static "admin/css/admin.css" }}">
        <script src="{{ static "admin/js/admin.js" }}"></script>

        <title>{{ block "title" . }}{{ end }}</title>

        {{ block "extra_css" . }}{{ end }}
    </head>
    <body>
        {{ block "root" . }}{{ end }}

        {{ block "extra_js" . }}{{ end }}
    </body>
</html>
{{ end }}