{{ template "base" . }}

{{ define "title" }}{{ T "Root List" }}{{ end }}

{{ block "header" . }}
    <div class="view-header">
        {{ if (has_perm  "pages:add") }}
            <div class="buttons">
                {{ if (has_perm  "pages:add") }}
                    <a href="{{ url "admin:pages:root_type" }}" class="button primary">{{ T "Add Root Page" }}</a>
                {{ end }}
            </div>
        {{ end }}
        <div class="title-text">
            {{ $count := (.Data.view_paginator_object).Count }}
            <h1>{{ .Page.Title }}{{ if gt $count 0 }} ({{ P "%d page" "%d pages" $count $count }}){{ end }}</h1>
        </div>
    </div>
{{ end }}

{{ define "content" }}

    <div class="pages-list list-wrapper">
        {{ $list := (.Get "view_list") }}
        {{ safe $list.Render }}
    </div>

    <div class="pages-list-paginator list-paginator">
        {{ (.Data.view_paginator_object).HTML "page" 5 .Request.URL.Query }}
    </div>
{{ end }}