{{ template "base" . }}

{{ define "title" }}{{ T "List" }}{{ end }}

{{ define "content" }}

    {{ block "heading" . }}
        {{ $count := (.Data.view_paginator_object).Count }}
        {{ if not $count }}{{ $count = 0 }}{{ end }}
        {{ $page := (.Get "page_object") }}
        <div class="view-header">
            {{ if (or (or (has_perm  "pages:add") (has_perm  "pages:edit")) (has_perm  "pages:delete")) }}
                <div class="buttons">
                    {{ if (has_perm  "pages:add") }}
                        <a href="{{ url "admin:pages:type" $page.ID }}" class="button primary">{{ T "Add Child Page" }}</a>
                    {{ end }}
                    {{ if (has_perm  "pages:edit") }}
                        <a href="{{ url "admin:pages:edit" $page.ID }}" class="button primary">{{ T "Edit Page" }}</a>
                    {{ end }}
                    {{ if (has_perm  "pages:delete") }}
                        <a href="{{ url "admin:pages:delete" $page.ID }}" class="button danger hollow">{{ T "Delete Page" }}</a>
                    {{ end }}
                </div>
            {{ end }}
            <div class="title-text">
                <h1>{{ .Get "model_name" }} &quot;{{ $page.Title }}&quot;{{ if gt $count 0 }} ({{ P "%d child" "%d children" $count $count }}){{ end }}</h1>
            </div>
        </div>
    {{ end }}

    <div class="pages-list list-wrapper">
        {{ $list := (.Get "view_list") }}
        {{ safe $list.Render }}
    </div>

    <div class="pages-list-paginator list-paginator">
        {{ (.Data.view_paginator_object).HTML "page" 5 .Request.URL.Query }}
    </div>
{{ end }}