{{ template "base" . }}

{{ define "title" }}{{ T "List" }}{{ end }}

{{ define "content" }}

    <div class="pages-list list-wrapper">
        {{ $list := (.Get "view_list") }}
        {{ safe $list.Render }}
    </div>

    <div class="pages-list-paginator list-paginator">
        {{ (.Data.view_paginator_object).HTML "page" 5 .Request.URL.Query }}
    </div>
{{ end }}