{{ template "base" . }}

{{ define "title" }}{{ T "List" }}{{ end }}

{{ define "content" }}

    <div class="outdated-pages-content content-width">
        <div class="outdated-pages-list-wrapper">
            <div class="pages-list list-wrapper">
                {{ $list := (.Get "view_list") }}
                {{ safe $list.Render }}
            </div>

            <div class="pages-list-paginator list-paginator">
                {{ (.Data.view_paginator_object).HTML .Data.view_page_param 5 .Request.URL.Query }}
            </div>
        </div>
    </div>

{{ end }}