{{ template "base" . }}

{{ define "title" }}{{ T "Delete" }}{{ end }}

{{ define "content" }}

    <div class="list-display">
        {{ range $idx, $node := .Data.Nodes }}
            <div class="list-item">
                <div class="list-item-title">
                    {{ $node.Title }}
                </div>
                <div class="list-item-meta">
                    {{ T "Path" }}: {{ $node.Path }}<br>
                    {{ T "Depth" }}: {{ $node.Depth }}
                </div>
            </div>
        {{ end }}
    </div>

    <form method="post" action="{{ (.Get "PostURL") }}" class="admin-form" enctype="multipart/form-data">
        {{ csrf_field }}
        <div class="buttons">
            <button class="button danger" type="submit" value="{{ T "Submit" }}">
                {{ if (gt (len .Data.Nodes) 1) }}
                    {{ T "Delete this node and all it's children" }}
                {{ else }}
                    {{ T "Delete this node" }}
                {{ end }}
            </button>
            {{ $BackURL := (.Get "BackURL") }}
            {{ if $BackURL }}
                <a class="button secondary hollow" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button secondary hollow" href="{{ url "admin:pages:list" (.Get "page_object").Reference.ID }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}