{{ template "base" . }}

{{ define "title" }}{{ T "Delete" }}{{ end }}

{{ define "content" }}
    <form method="post" action="{{ (.Get "PostURL") }}" class="admin-form" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
        <div class="buttons">
            <button class="button danger" type="submit" value="{{ T "Submit" }}">
                {{ T "Delete this node and all it's children" }}
            </button>
            {{ $BackURL := (.Get "BackURL") }}
            {{ if $BackURL }}
                <a class="button secondary hollow" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button secondary hollow" href="{{ url "admin:pages:list" (.Get "page_object").Reference.ID }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}