{{ template "base" . }}

{{ define "title" }}{{ T "Edit" }}{{ end }}

{{ define "extra_css" }}
    {{ $Media := (.Get "form").Media }}
    {{ range $css := $Media.CSS }}
        {{ $css }}
    {{ end }}
{{ end }}

{{ define "content" }}
    <form method="post" action="{{ .Get ("PostURL") }}" class="admin-form" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">

        {{ $Form := (.Get "form") }}
        {{ include $Form.ErrorList "admin/shared/forms/error_list.tmpl" }}
        {{ include $Form "admin/shared/forms/form.tmpl" }}

        <div class="form-buttons">
            <button class="button secondary" type="submit" value="Submit">
                {{ T "Save" }}
            </button>
            {{ if (and (not (.Get "is_published")) (has_perm .Request "pages:publish")) }}
                <button class="button secondary" type="submit" name="publish-page" value="publish-page">
                    {{ T "Save and Publish" }}
                </button>
            {{ else if (and (.Get "is_published") (has_perm .Request "pages:publish")) }}
                <button class="button secondary" type="submit" name="unpublish-page" value="unpublish-page">
                    {{ T "Unpublish and Save" }}
                </button>
            {{ end }}
            {{ $BackURL := (.Get "BackURL") }}
            {{ if $BackURL }}
                <a class="button warning hollow" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button warning hollow" href="{{ url "admin:pages:list" (.Get "page_object").Reference.ID }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}

{{ define "extra_js" }}
    {{ $Media := (.Get "form").Media }}
    {{ range $js := $Media.JS }}
        {{ $js }}
    {{ end }}
{{ end }}