{{ template "base" . }}

{{ define "title" }}{{ T "Unpublish" }}{{ end }}

{{ define "content_root" }}
    <form method="post" action="{{ (.Get "PostURL") }}" class="admin-form pages-form">
        
        {{ $Page := (.Get "Page") }}
        {{ if $Page }}
            {{ $Title := $Page.Title }}
            {{ $Subtitle := $Page.Subtitle }}
            {{ if (or $Title $Subtitle) }}
                {{ component "admin.header" 1 $Title $Subtitle }}
            {{ end }}
        {{ end }}
        
        {{ csrf_field }}

        {{ $BackURL := (.Get "BackURL") }}
        {{ if $BackURL }}
            <input type="hidden" name="next" value="{{ $BackURL }}">
        {{ end }}

        <div class="buttons">
            <button class="button secondary" type="submit" name="publish-node" value="publish-node">
                {{ T "Publish this node" }}
            </button>
            {{ if $BackURL }}
                <a class="button warning" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button warning" href="{{ url "admin:pages:list" (.Get "page_object").Reference.ID }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}