{{ template "base" . }}

{{ define "title" }}{{ T "Unpublish" }}{{ end }}

{{ define "content" }}
    <form method="post" action="{{ (.Get "PostURL") }}" class="admin-form pages-form">
        <div class="alert info content-width">
            <p class="alert-text">{{ T "Publishing a page will make it visible on the live site." }}</p>
            <p class="alert-text">{{ T "It is required to publish a page before it can be viewed by the public." }}</p>
        </div>

        {{ csrf_field }}

        {{ $BackURL := (.Get "BackURL") }}
        {{ if $BackURL }}
            <input type="hidden" name="next" value="{{ $BackURL }}">
        {{ end }}

        <div class="buttons">
            <button class="button secondary" type="submit" name="publish-node" value="publish-node">
                {{ T "Publish this node" }}
            </button>
            {{ if $BackURL }}
                <a class="button warning" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button warning" href="{{ url "admin:pages:list" (.Get "page_object").Reference.ID }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}