{{ template "base" . }}

{{ define "title" }}{{ T "Unpublish" }}{{ end }}

{{ define "content" }}
    <form method="post" action="{{ (.Get "PostURL") }}" class="admin-form pages-form">
        <div class="alert info content-width">
            <p class="alert-text">{{ T "Unpublishing a page will remove it from the site, but its content will be preserved." }}</p>
            <p class="alert-text">{{ T "This means that the page will no longer be accessible to users, but you can still edit its content in the admin interface." }}</p>
            {{ if gt .Data.page_object.Numchild 0 }}
                <p class="alert-text">{{ T "Optionally, you can unpublish all child pages along with the current page." }}</p>
            {{ end }}
        </div>

        {{ csrf_field }}
        
        {{ $BackURL := (.Get "BackURL") }}
        {{ if $BackURL }}
            <input type="hidden" name="next" value="{{ $BackURL }}">
        {{ end }}

        <div class="buttons">
            <button class="button secondary" type="submit" value="{{ T "Submit" }}">
                {{ T "Unpublish this node" }}
            </button>
            {{ if gt .Data.page_object.Numchild 0 }}
                <button class="button danger" type="submit" name="unpublish-children" value="unpublish-children">
                    {{ T "Unpublish this node and all its children" }}
                </button>
            {{ end }}
            {{ if $BackURL }}
                <a class="button warning" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button warning" href="{{ url "admin:pages:list" (.Get "page_object").Reference.ID }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}