{{ template "base" . }}

{{ define "title" }}{{ T "Unpublish" }}{{ end }}

{{ define "content_root" }}
    <form method="post" action="{{ (.Get "PostURL") }}" class="admin-form pages-unpublish-form" enctype="multipart/form-data">
        
        {{ $Page := (.Get "Page") }}
        {{ if $Page }}
            {{ $Title := $Page.Title }}
            {{ $Subtitle := $Page.Subtitle }}
            {{ if (or $Title $Subtitle) }}
                {{ component "admin.header" 1 $Title $Subtitle }}
            {{ end }}
        {{ end }}
        
        <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
        <div class="buttons">
            <button class="button secondary" type="submit" value="{{ T "Submit" }}">
                {{ T "Unpublish this node" }}
            </button>
            <button class="button danger hollow" type="submit" name="unpublish-children" value="unpublish-children">
                {{ T "Unpublish this node and all its children" }}
            </button>
            {{ $BackURL := (.Get "BackURL") }}
            {{ if $BackURL }}
                <a class="button warning hollow" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button warning hollow" href="{{ url "admin:pages:list" (.Get "page_object").Reference.ID }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}