{{ template "base" . }}

{{ define "title" }}{{ T "Unpublish" }}{{ end }}

{{ define "content" }}
    <form method="post" action="{{ (.Get "PostURL") }}" class="admin-form" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
        <div class="buttons">
            <button class="button secondary" type="submit" value="Submit">
                {{ T "Unpublish this node" }}
            </button>
            <button class="button danger hollow" type="submit" name="unpublish-children" value="unpublish-children">
                {{ T "Unpublish this node and all its children" }}
            </button>
            {{ $BackURL := (.Get "BackURL") }}
            {{ if $BackURL }}
                <a class="button warning hollow" href="{{ $BackURL }}">{{ T "Cancel" }}</a>
            {{ else }}
                <a class="button warning hollow" href="{{ url "admin:pages:list" (.Get "page_object").Reference.ID }}">{{ T "Back" }}</a>
            {{ end }}
        </div>
    </form>
{{ end }}