{{ define "file" }}
<div class="file-input">
    {{ include . "forms/widgets/input.html" }}
</div>
{{ if not (or (eq .Data.file_value "") (eq .Data.file_value nil)) }}
<div class="file-path">
    <span class="file-path">{{ Translate .Data.context "Path: %s" .Data.file_value }}</span>
    <input type="hidden" name="{{ .Data.name }}_path" value="{{ .Data.file_value }}" />
</div>
{{ if not .Data.required }}
    <div class="file-clear">
        <input type="checkbox" name="{{ .Data.name }}_clear" id="{{ .Data.id }}_clear" value="1" class="file-clear-checkbox" />
        <label for="{{ .Data.id }}_clear" class="file-clear-label default-label">{{ Translate .Data.context "Clear file" }}</label>
    </div>
{{ end }}
{{ end }}
{{ end }}