{{ define "select" }}
    {{ $choices := (.Get "choices") }}
    {{ $ctx := . }}

    <select name="{{ .Get "name" }}" id="{{ .Get "id" }}" {{ safeAttrs (include (.Get "attrs") "forms/widgets/attrs.html") }}>
        {{ if (.Get "include_blank") }}
            <option value="">{{ (.Get "blank_label") }}</option>
        {{ end }}

        {{ range $choice := $choices }}
            <option value="{{ $choice.Value }}"{{ if (eq ($ctx.Get "value") $choice.Value) }} selected{{ end }}>{{ $choice.Label }}</option>
        {{ end }}
    </select>

{{ end }}