#content#content:has(> .shop__header__components__wrap) > #content__header#content__header {
    padding: 1em 2.25em;
}
#main #content-wrapper #content:has(> .shop__header__components__wrap) #content__body {
    padding: 0.5em 2.25em;
}
#main #content-wrapper #content:has(> .shop__header__components__wrap) #content__body .list tr.column-group {
    height: 2.5em;
}
.shop__header__components__wrap {
    border-bottom: 1px dashed var(--border-color);
    box-shadow: 0px 0 3px rgba(0, 0, 0, 0.4);
    position: relative;
    display: flex;
    flex-direction: row;
}
.shop__header__components,
.shop__header__components__form {
    display: flex;
    flex-direction: row;
}
.shop__header__components__wrap .filter-form {
    display: flex;
    flex-direction: row;
}
.shop__header__components__wrap.shop__header__components__wrap *:is(a, button, input, select) {
    color: var(--text-color);
    background-color: transparent;
    border-radius: unset;
    border: none;
    align-content: center;
    border-right: 1px dashed var(--border-color);
    height: 100%;
    margin: 0;
}
.shop__header__components__wrap *:is(a, button, input, select) + .shop__header__components__wrap *:is(a, button, input, select) {
    margin-inline-start:0.375rem;
}
