.dropdown {
    --dropdown-bg-color: var(--primary-bg-color);
    --dropdown-text-color: var(--primary-text-color);
    --dropdown-icon-size: 1.25em;
    max-width: fit-content;
}
.dropdown.lg {
    --dropdown-icon-size: 1.5em;
}
.dropdown.sm {
    --dropdown-icon-size: 1em;
}
.dropdown .dropdown__toggle {
    background-color: transparent;
    cursor: pointer;
    border: none;
}
.dropdown .dropdown__toggle-icon {
    width: var(--dropdown-icon-size);
    height: var(--dropdown-icon-size);
    vertical-align: middle;
}
.dropdown .dropdown__content {
    display: flex;
    flex-direction: column;
    gap: 0.375em; 
}
.dropdown .dropdown__content.dropdown__content > * {
    width: 100%;
    padding: 0.5em 1em;
    color: var(--dropdown-text-color);
    background-color: inherit;
    border: none;
    text-align: left;
    cursor: pointer;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
