.homepage-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}
.home-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    & .logo-col {
        flex: 1 0 0%;
        max-width: 300px;
        padding: 0.5em;
    }

    & .text-col {
        flex: 1 0 0%;
    }
}
.home-components {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.display-panels {
    --display-panels-font-size: clamp(1.875rem * 1.5, 6.5vw, 5.625rem);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-wrap: wrap;
}
.display-panels .display-panels__panel {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    color: var(--secondary-bg-color);
}
.display-panels *:is(svg.display-panels__panel__icon, .display-panels__panel__icon svg) {
    font-size: var(--display-panels-font-size);
    width: 1em;
    height: 1em;
    margin-inline-end: .15em;
    fill: var(--secondary-bg-color);
}
.display-panels .display-panels__panel__content {
    display: flex;
    flex-direction: column;
}
.display-panels .display-panels__panel__content .display-panels__panel__count {
    font-size: calc(var(--display-panels-font-size) * 0.6);
    font-weight: 700;
    line-height: 1;
}
.display-panels .display-panels__panel__content .display-panels__panel__title {
    font-weight: 300;
}

@media (min-width: 768px) {
    #main #content-wrapper div#content__body {
        padding-left: 2.5em;
        padding-right: 2.5em;
        padding-top: 2em;
        padding-bottom: 0;
    }
    .home-row {
        flex-direction: row;

        & .logo-col {
            flex: 0 0 auto;
        }
    }
}
@media (min-width: 992px) {
    #main #content-wrapper div#content__body {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 3em;
        padding-bottom: 0;
    }
    .display-panels .display-panels__panel__content .display-panels__panel__title {
        font-size: 1.125rem;
    }
}
