.homepage-logo {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}
.home-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

    & .logo-col {
        flex: 1 0 0%;
        max-width: 300px;
        padding: 0.5em;
    }

    & .text-col {
        flex: 1 0 0%;
    }
}
.home-spacing {
    --s: var(--spacing, 3em);
    --b: var(--bg, var(--primary-bg-color));

    margin-top: var(--s);
    margin-bottom: var(--s);
    background-color: var(--b);
    height: 1px;
    width: 100%;
}
.home-components {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}
@media (min-width: 768px) {
    #main #content-wrapper div#content {
        padding-left: 2.5em;
        padding-right: 2.5em;
        padding-top: 2em;
        padding-bottom: 0;
    }
    .home-row {
        flex-direction: row;

        & .logo-col {
            flex: 0 0 auto;
        }
    }
}
@media (min-width: 992px) {
    #main #content-wrapper div#content {
        padding-left: 4em;
        padding-right: 4em;
        padding-top: 3em;
        padding-bottom: 0;
    }
}
