#list_page {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.list-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.list-wrapper__content {
    overflow-x: auto;
}
#list_page .list-filters {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 1rem;
}
table.list {
    border-collapse: collapse;
    font-size: 1.125em;
    text-wrap: nowrap;
    width: 100%;
}

.list .list-title {
    font-size: 1.1em;
    font-weight: bold;
}

.list tr.list-header {
    border-bottom: 1px solid var(--body-dark-bg-color);
}

.list tr.list-header th:first-child,
.list tr.column-group td:first-child {
    padding-left: 0.5em;
}

.list th.list-column-header {
    padding-top: 0.375em;
    padding-bottom: 0.375em;
}

.list tr.column-group {
    height: 3.75em;
}

.list td.list-column {
    /* padding-top: 1.25em; */
    /* padding-bottom: 1.125em; */
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.list .list-check-yes {
    color: var(--success-bg-color);
}
.list .list-check-no {
    color: var(--danger-bg-color);
}

.list .list-checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: fit-content;
}
.list .list-checkbox-wrapper .list-checkbox {
    margin-right: 1em;
}
.list .list-checkbox-wrapper .list-checkbox__input {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}
.list .list-checkbox-wrapper .list-checkbox__column {
}