{{ define "tabs" }}

<div class="tabs" data-controller="tabs">
    {{ if gt (len .Data.Tabs) 0 }}
    {{ range $i, $tab := .Data.tabs }}
        <div class="tab" data-tabs-action="click->tabs#open" data-tabs-target="tab" data-tabs-index-param="{{ $i }}">{{ $tab.Title }}</div>
    {{ end }}
    {{ end }}

    {{ range $i, $tab := .Data.tabs }}
        <div class="tab" data-tabs-target="tab"{{ if $tab.URL }} data-controller="fetch" data-fetch-url-value="{{ $tab.URL }}"{{ end }}>
            {{ if $tab.Content }}
                {{ safe $tab.Content }}
            {{ end }}
        </div>
    {{ end }}
</div>

{{ end }}