{{ template "base" . }}

{{ define "title" }}{{ .Page.Title }}{{ end }}

{{ define "extra_css" }}
    {{ range $css := .Page.Media.CSS }}
        {{ $css }}
    {{ end }}
{{ end }}

{{ define "extra_js" }}
    {{ range $js := .Page.Media.JS }}
        {{ $js }}
    {{ end }}
{{ end }}

{{ define "header" }}

    {{ if $logo := (.Get "LogoPath") }}
        <div class="home-row">
            <div class="logo-col">
                <img src="{{ $logo }}" alt="logo" class="homepage-logo">
            </div>
            <div class="text-col">
                {{ component "admin.header" 1 .Page.Title .Page.Subtitle .Page.GetHeaderComponents }}
            </div>
        </div>
    {{ else }}
        {{ component "admin.header" 1 .Page.Title .Page.Subtitle .Page.GetHeaderComponents }}
    {{ end }}

{{ end }}

{{ define "content" }}

        <div class="home-components">
            {{ $components := (.Get "Components") }}
            {{ range $component := $components }}
                {{ $component.HTML }}
            {{ end }}
        </div>

{{ end }}