{{ template "base" . }}

{{ define "title" }} {{index .Data "title"}} {{end}}

{{ define "css" }}

{{ end }}

{{ define "content" }}

<div class="admin-list-top">
    {{template "page-limit.tmpl" .Data}}
    {{if index .Data "has_search"}}
        {{ template "list-search.tmpl" . }}
    {{end}}
    <a href="{{.Request.URL "admin:internal:log:download"}}" class="admin-button">Download</a>
</div>

<div>
    {{$logs := index .Data "logs"}}
</div>
    
<div class="admin-logs w-100">
    {{$logs := index .Data "logs"}}
    {{ if eq (len $logs) 0 }}
        <div class="log-item">
            <p>There are no logs.</p>
        </div>
    {{ else }}
            {{ range $log := $logs }}
                {{template "log-item.tmpl" $log}}
            {{ end }}
    {{ end }}
</div>

{{if $pager := index .Data "paginator"}}
    {{ template "pagination.tmpl" $pager }}
{{end}}


{{ end }}

{{ define "js" }}
{{ end }}