<section class="messages text-center">
{{ range . }}
	{{ if eq .Type "success" }}
		<div class="message bg-success removeself">
			<div class="font-l">{{ .Text }}</div>
		</div>
	{{ else if eq .Type "error" }}
		<div class="message bg-danger removeself">
			<div class="font-l">{{ .Text }}</div>
		</div>
	{{ else if eq .Type "warning" }}
		<div class="message bg-warning removeself">
			<div class="font-l">{{ .Text }}</div>
		</div>
	{{ else if eq .Type "info" }}
		<div class="message bg-info removeself">
			<div class="font-l">{{ .Text }}</div>
		</div>
	{{ end }}
{{ end }}
</section>