{{ template "skeleton" . }}

{{ define "modal_root" }}
    <dialog class="godjango-modal" open>
        {{ block "modal_header" . }}
            <div class="godjango-modal-header" id="modal-title">
                <h1 class="godjango-modal-title" id="modal-title-text">{{ .GetTitle }}</h1>
            </div>
        {{ end }}
        {{ block "modal_errors" . }}
            <div class="godjango-modal-errors" id="modal-errors" role="alert">
                {{ if .Errors }}
                    <ul>
                        {{ range .Errors }}
                            <li>{{ .Error() }}</li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
        {{ end }}
        {{ block "modal_content" . }}
            <div class="godjango-modal-content" id="modal-content">
                {{ block "content" . }}{{ end }}
            </div>
        {{ end }}
        {{ block "modal_footer" . }}
            <div class="godjango-modal-footer" id="modal-footer">
                
            </div>
        {{ end }}
    </dialog>
{{ end }}