{{ template "skeleton" . }}

{{ define "title" }}{{ T "Login" }}{{ end }}

{{ define "extra_css" }}
    <link rel="stylesheet" type="text/css" href="{{ static "admin/css/login.css" }}">
{{ end }}

{{ define "root" }}
    <div class="login-container-wrapper">
        <div class="login-container">

            {{ $headingText := (T "Login") }}
            {{ $subText := (T "Login to access the admin area") }}
            {{ component "admin.header" 1 $headingText $subText }}

            <form method="post" action="{{ .Get "LoginURL" }}">
                {{ csrf_field }}
                
                {{ $Form := (.Get "form") }}
                {{ include $Form.ErrorList "admin/shared/forms/error_list.tmpl" }}
                {{ include $Form "admin/shared/forms/form.tmpl" }}
                
                <input class="button primary" type="submit" value="{{ T "Submit" }}">
            </form>
        </div>
    </div>
{{ end }}